<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gg.updown.backend.main.api.lol.summoner.mapper.LolSummonerMapper">
    <select id="getSummonerInfoByPuuid" parameterType="String" resultType="LolSummonerEntity">
        SELECT
            lol_account_seq
            , puuid
            , summoner_id
            , account_id
            , summoner_level
            , external_mod_dt
            , profile_icon_id
        FROM
            lol_summoner
        WHERE
            puuid = #{puuid}
    </select>

    <insert id="insertSummonerInfo" parameterType="LolSummonerEntity">
        INSERT INTO lol_summoner (
             puuid
             , summoner_id
             , account_id
             , summoner_level
             , external_mod_dt
             , profile_icon_id
        ) VALUES (
            #{puuid}
            , #{summonerId}
            , #{accountId}
            , #{summonerLevel}
            , #{externalModDt}
            , #{profileIconId}
        )
    </insert>

    <update id="updateSummonerInfo" parameterType="LolSummonerEntity">
        UPDATE lol_summoner
        SET
             summoner_id = #{summonerId}
             , account_id = #{accountId}
             , summoner_level = #{summonerLevel}
             , external_mod_dt = #{externalModDt}
             , profile_icon_id = #{profileIconId}
        WHERE
            puuid = #{puuid}
    </update>

    <select id="getSummonerLeagueInfo" parameterType="map" resultType="LolSummonerLeagueEntity">
        SELECT
            seq,
            league_id,
            summoner_id,
            queue_type,
            tier,
            rank,
            league_points,
            wins,
            losses,
            hot_streak,
            veteran,
            fresh_blood,
            inactive,
            reg_dt,
            updated_at
        FROM
            lol_summoner_league
        WHERE
            summoner_id = #{summonerId}
            AND queue_type = #{queueType};
    </select>

    <insert id="insertSummonerLeagueInfo" parameterType="LolSummonerLeagueEntity">
        INSERT INTO public.lol_summoner_league (
            league_id,
            summoner_id,
            queue_type,
            tier,
            rank,
            league_points,
            wins,
            losses,
            hot_streak,
            veteran,
            fresh_blood,
            inactive
        ) VALUES (
             #{leagueId}, -- league_id
             #{summonerId}, -- summoner_id
             #{queueType}, -- queue_type
             #{tier}, -- tier
             #{rank}, -- rank
             #{leaguePoints}, -- league_points
             #{wins}, -- wins
             #{losses}, -- losses
             #{hotStreak}, -- hot_streak
             #{veteran}, -- veteran
             #{freshBlood}, -- fresh_blood
             #{inactive}  -- inactive
         );
    </insert>

    <update id="updateSummonerLeagueInfo" parameterType="LolSummonerLeagueEntity">
        UPDATE public.lol_summoner_league
        SET
            league_id = #{leagueId},
            tier = #{tier},
            rank = #{rank},
            league_points = #{leaguePoints},
            wins = #{wins},
            losses = #{losses},
            hot_streak = #{hotStreak},
            veteran = #{veteran},
            fresh_blood = #{freshBlood},
            inactive = #{inactive},
            updated_at = CURRENT_TIMESTAMP
        WHERE
            summoner_id = #{summonerId}
          AND queue_type = #{queueType};
    </update>

    <insert id="conflictSummonerLeagueInfo" parameterType="LolSummonerLeagueEntity">
        INSERT INTO public.lol_summoner_league (
            league_id,
            summoner_id,
            queue_type,
            tier,
            rank,
            league_points,
            wins,
            losses,
            hot_streak,
            veteran,
            fresh_blood,
            inactive
        ) VALUES (
             #{leagueId}, -- league_id
             #{summonerId}, -- summoner_id
             #{queueType}, -- queue_type
             #{tier}, -- tier
             #{rank}, -- rank
             #{leaguePoints}, -- league_points
             #{wins}, -- wins
             #{losses}, -- losses
             #{hotStreak}, -- hot_streak
             #{veteran}, -- veteran
             #{freshBlood}, -- fresh_blood
             #{inactive}  -- inactive
        )
        ON CONFLICT (summoner_id, queue_type)
        DO UPDATE
            SET
                league_id = #{leagueId},
                tier = #{tier},
                rank = #{rank},
                league_points = #{leaguePoints},
                wins = #{wins},
                losses = #{losses},
                hot_streak = #{hotStreak},
                veteran = #{veteran},
                fresh_blood = #{freshBlood},
                inactive = #{inactive},
                updated_at = CURRENT_TIMESTAMP
    </insert>
</mapper>