<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gg.updown.backend.main.api.lol.summoner.mapper.LolSummonerMapper">
    <select id="getSummonerInfoByPuuid" parameterType="String" resultType="LolSummonerEntity">
        SELECT
            lol_account_seq
            , puuid
            , summoner_id
            , account_id
            , summoner_level
            , external_mod_dt
            , profile_icon_id
        FROM
            lol_summoner
        WHERE
            puuid = #{puuid}
    </select>

    <select id="getSummonerInfoBySiteCode" parameterType="long" resultType="LolSummonerEntity">
        SELECT
            lol_account_seq
             , sa.puuid
             , summoner_id
             , account_id
             , summoner_level
             , external_mod_dt
             , profile_icon_id
        FROM
            site_account sa
                inner join lol_summoner ls on (sa.puuid = ls.puuid)
        WHERE
            sa.member_site_code = #{siteCode}
    </select>

    <select id="getSummonerBasicInfo" parameterType="long" resultType="summonerBasicInfoDto">
        select
            ls.puuid,
            game_name,
            tag_line,
            ls.profile_icon_id
        from
            site_account sa
                inner join riot_account ra on (sa.puuid = ra.puuid)
                inner join lol_summoner ls on (ra.puuid = ls.puuid)
        where
            sa.member_site_code = #{siteCode}
    </select>

    <insert id="insertSummonerInfo" parameterType="LolSummonerEntity">
        INSERT INTO lol_summoner (
             puuid
             , summoner_id
             , account_id
             , summoner_level
             , external_mod_dt
             , profile_icon_id
        ) VALUES (
            #{puuid}
            , #{summonerId}
            , #{accountId}
            , #{summonerLevel}
            , #{externalModDt}
            , #{profileIconId}
        )
    </insert>

    <update id="updateSummonerInfo" parameterType="LolSummonerEntity">
        UPDATE lol_summoner
        SET
             summoner_id = #{summonerId}
             , account_id = #{accountId}
             , summoner_level = #{summonerLevel}
             , external_mod_dt = #{externalModDt}
             , profile_icon_id = #{profileIconId}
        WHERE
            puuid = #{puuid}
    </update>

    <select id="getSummonerLeagueInfo" parameterType="map" resultType="LolSummonerLeagueEntity">
        SELECT
            seq,
            league_id,
            summoner_id,
            queue_type,
            tier,
            rank,
            league_points,
            wins,
            losses,
            hot_streak,
            veteran,
            fresh_blood,
            inactive,
            reg_dt,
            updated_at
        FROM
            lol_summoner_league
        WHERE
            summoner_id = #{summonerId}
            AND queue_type = #{queueType};
    </select>

    <insert id="insertSummonerLeagueInfo" parameterType="LolSummonerLeagueEntity">
        INSERT INTO public.lol_summoner_league (
            league_id,
            summoner_id,
            queue_type,
            tier,
            rank,
            league_points,
            wins,
            losses,
            hot_streak,
            veteran,
            fresh_blood,
            inactive
        ) VALUES (
             #{leagueId}, -- league_id
             #{summonerId}, -- summoner_id
             #{queueType}, -- queue_type
             #{tier}, -- tier
             #{rank}, -- rank
             #{leaguePoints}, -- league_points
             #{wins}, -- wins
             #{losses}, -- losses
             #{hotStreak}, -- hot_streak
             #{veteran}, -- veteran
             #{freshBlood}, -- fresh_blood
             #{inactive}  -- inactive
         );
    </insert>

    <update id="updateSummonerLeagueInfo" parameterType="LolSummonerLeagueEntity">
        UPDATE public.lol_summoner_league
        SET
            league_id = #{leagueId},
            tier = #{tier},
            rank = #{rank},
            league_points = #{leaguePoints},
            wins = #{wins},
            losses = #{losses},
            hot_streak = #{hotStreak},
            veteran = #{veteran},
            fresh_blood = #{freshBlood},
            inactive = #{inactive},
            updated_at = CURRENT_TIMESTAMP
        WHERE
            summoner_id = #{summonerId}
          AND queue_type = #{queueType};
    </update>

    <insert id="conflictSummonerLeagueInfo" parameterType="LolSummonerLeagueEntity">
        INSERT INTO public.lol_summoner_league (
            league_id,
            summoner_id,
            queue_type,
            tier,
            rank,
            league_points,
            wins,
            losses,
            hot_streak,
            veteran,
            fresh_blood,
            inactive
        ) VALUES (
             #{leagueId}, -- league_id
             #{summonerId}, -- summoner_id
             #{queueType}, -- queue_type
             #{tier}, -- tier
             #{rank}, -- rank
             #{leaguePoints}, -- league_points
             #{wins}, -- wins
             #{losses}, -- losses
             #{hotStreak}, -- hot_streak
             #{veteran}, -- veteran
             #{freshBlood}, -- fresh_blood
             #{inactive}  -- inactive
        )
        ON CONFLICT (summoner_id, queue_type)
        DO UPDATE
            SET
                league_id = #{leagueId},
                tier = #{tier},
                rank = #{rank},
                league_points = #{leaguePoints},
                wins = #{wins},
                losses = #{losses},
                hot_streak = #{hotStreak},
                veteran = #{veteran},
                fresh_blood = #{freshBlood},
                inactive = #{inactive},
                updated_at = CURRENT_TIMESTAMP
    </insert>

    <select id="getSummonerMostChampions" parameterType="map" resultType="LolSummonerMostChampionDto">
        WITH MostPlayedChamp AS (
            SELECT
            lmp.puuid,
            lmp.champ_name,
            lc.name_kr,
            COUNT(*) as play_count,
            COUNT(CASE WHEN is_win = true THEN 1 END) as win_count,
            ROW_NUMBER() OVER (PARTITION BY lmp.puuid ORDER BY COUNT(*) DESC) as rn
            FROM
            lol_match_participant lmp
                left outer join lol_champion lc on (lmp.champ_name = lc.name_us)
            WHERE
            lmp.puuid = #{puuid}
            GROUP BY
            lmp.puuid, lmp.champ_name, lc.name_kr
            HAVING
            COUNT(*) > 0
        )
        SELECT
            mpc.champ_name as name_us,
            mpc.name_kr,
            mpc.play_count,
            mpc.win_count,
            ROUND(mpc.win_count * 100.0 / mpc.play_count, 0) as win_rate
            FROM
            MostPlayedChamp mpc
            WHERE
            mpc.rn <![CDATA[ <= ]]> #{limit}
            GROUP BY
            mpc.puuid, mpc.champ_name, mpc.name_kr, mpc.play_count, mpc.win_count, mpc.rn
            ORDER BY
            mpc.puuid, mpc.play_count DESC
    </select>
</mapper>