<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gg.updown.backend.main.api.notification.mapper.NotificationMapper">
	<insert id="insertNotification" parameterType="notificationEntity" useGeneratedKeys="true" keyProperty="notificationSeq">
		INSERT INTO site_notification (
			notification_id,
			notification_type,
			target_site_code,
			content,
			target_puuid,
			sub_seq,
			icon_url,
			action_dt
		) VALUES (
			 #{notificationId},
			 #{notificationType},
			 #{targetSiteCode},
			 #{content},
			 #{targetPuuid},
			#{subSeq},
			#{iconUrl},
			#{actionDt}
		 )
	</insert>

	<select id="getNotifications" parameterType="String" resultType="notificationEntity">
		SELECT
			notification_seq,
			notification_id,
			notification_type,
			target_site_code,
			content,
			read_yn,
			read_dt,
			reg_dt,
			target_puuid,
			sub_seq,
			icon_url,
			action_dt
		FROM site_notification
		WHERE target_puuid = #{puuid}
		  AND reg_dt >= NOW() - INTERVAL '30 days'
		ORDER BY notification_seq desc
		LIMIT 10
	</select>

	<update id="readNotification" parameterType="map">
		UPDATE site_notification
		SET read_yn = true,
			read_dt = now()
		WHERE
		    target_puuid = #{puuid}
			and notification_id = #{id}
	</update>

	<update id="readNotifications" parameterType="map">
		<foreach collection="ids" item="id" separator=";">
			UPDATE site_notification
			SET read_yn = true,
			    read_dt = now()
			WHERE
                target_puuid = #{puuid}
                and notification_id = #{id}
		</foreach>
	</update>
</mapper>