<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gg.updown.backend.main.api.review.mapper.ReviewMapper">
    <select id="getReviewTagList" parameterType="String">
        SELECT
            tag_code,
            tag_value,
            tag_description
        FROM
            site_review_tag
    </select>
</mapper>