<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gg.updown.backend.main.api.review.mapper.ReviewMapper">

    <resultMap id="reviewWithTagsMap" type="reviewDto">
        <!-- review 테이블의 컬럼들 매핑 -->
        <id property="summonerReviewSeq" column="summoner_review_seq"/>
        <result property="reviewerSiteCode" column="reviewer_site_code"/>
        <result property="reviewerPuuid" column="reviewer_puuid"/>
        <result property="targetPuuid" column="target_puuid"/>
        <result property="skillRating" column="skill_rating"/>
        <result property="teamworkRating" column="teamwork_rating"/>
        <result property="mannerRating" column="manner_rating"/>
        <result property="comment" column="comment"/>
        <result property="regDt" column="reg_dt"/>
        <result property="updDt" column="upd_dt"/>
        <result property="delDt" column="del_dt"/>

        <!-- tag_code들을 List<String>으로 매핑 -->
        <collection property="tagCodeList" ofType="string" javaType="list">
            <result column="tag_code"/>
        </collection>
    </resultMap>

    <select id="getWroteReviewList" parameterType="String" resultMap="reviewWithTagsMap">
        SELECT
            r.summoner_review_seq,
            reviewer_site_code,
            reviewer_puuid,
            target_puuid,
            skill_rating,
            teamwork_rating,
            manner_rating,
            comment,
            reg_dt,
            upd_dt,
            del_dt,
            t.tag_code
        FROM
            site_summoner_review r
            LEFT JOIN site_summoner_review_tag t ON r.summoner_review_seq = t.summoner_review_seq
        WHERE
            reviewer_puuid = #{reviewerPuuid}
          and del_dt IS NULL
    </select>

    <select id="getRecentReviewList" parameterType="String" resultType="reviewDto">
        SELECT
            r.summoner_review_seq,
            r.reviewer_site_code,
            r.reviewer_puuid,
            r.target_puuid,
            r.comment,
            r.reg_dt,
            ROUND(COALESCE(t.totalAvgRating, 0), 1) AS totalAvgRating
        FROM
            site_summoner_review r
                LEFT JOIN (
                SELECT
                    target_puuid,
                    (AVG(skill_rating) + AVG(teamwork_rating) + AVG(manner_rating)) / 3 AS totalAvgRating
                FROM
                    site_summoner_review
                WHERE
                    target_puuid = #{targetPuuid} AND del_dt IS NULL
                GROUP BY
                    target_puuid
            ) t ON r.target_puuid = t.target_puuid
        WHERE
            r.target_puuid = #{targetPuuid} AND r.del_dt IS NULL
        LIMIT
            20
    </select>

    <select id="getReviewTagList" parameterType="String">
        SELECT
            tag_code,
            tag_value,
            tag_description
        FROM
            site_review_tag
    </select>

    <!-- 리뷰 등록 -->
    <insert id="insertReview" parameterType="ReviewSubmitReqDto" useGeneratedKeys="true" keyProperty="summonerReviewSeq">
        INSERT INTO site_summoner_review (
            reviewer_site_code,
            reviewer_puuid,
            target_puuid,
            skill_rating,
            teamwork_rating,
            manner_rating,
            comment
        ) VALUES (
             #{reviewerSiteCode},
             #{reviewerPuuid},
             #{targetPuuid},
             #{skillRating},
             #{teamworkRating},
             #{mannerRating},
             #{comment}
         )
    </insert>

    <!-- 리뷰 태그 등록 -->
    <insert id="insertReviewTags" parameterType="java.util.Map">
        INSERT INTO site_summoner_review_tag (
        summoner_review_seq,
        tag_code
        ) VALUES
        <foreach collection="tagCodeList" item="tagCode" separator=",">
            (#{reviewSeq}, #{tagCode})
        </foreach>
    </insert>

    <delete id="deleteReviewTags" parameterType="Long">
        DELETE FROM site_summoner_review_tag WHERE summoner_review_seq = #{reviewSeq}
    </delete>

    <update id="updateReview" parameterType="ReviewSubmitReqDto">
        UPDATE site_summoner_review
        SET skill_rating = #{skillRating}
            , teamwork_rating = #{teamworkRating}
            , manner_rating = #{mannerRating}
            , comment = #{comment}
        WHERE
            summoner_review_seq = #{summonerReviewSeq}
    </update>

    <select id="getReviewStatus" parameterType="String" resultType="reviewStatsDto">
        SELECT
            target_puuid as puuid,
            ROUND(AVG(skill_rating), 1) AS skillRatingAvg,
            ROUND(AVG(teamwork_rating), 1) AS teamworkRatingAvg,
            ROUND(AVG(manner_rating), 1) AS mannerRatingAvg,
            COUNT(*) AS totalReviewCnt,
            COUNT(CASE WHEN reg_dt >= CURRENT_TIMESTAMP - INTERVAL '30 days' THEN 1 END) AS last30DayReviewCnt
        FROM site_summoner_review
        where target_puuid = #{targetPuuid}
          and del_dt is NULL
        group by target_puuid
    </select>

    <select id="getFrequentTagCount" parameterType="String" resultType="reviewTagDto">
        select
            ssrt.tag_code,
            srt.tag_value,
            srt.tag_description,
            count(*) as frequentCount
        from
            site_summoner_review ssr
            inner join site_summoner_review_tag ssrt on (ssr.summoner_review_seq = ssrt.summoner_review_seq)
            inner join site_review_tag srt on (ssrt.tag_code = srt.tag_code)
        where
            target_puuid = #{puuid}
            and ssr.del_dt IS NULL
        group by
            ssrt.tag_code, srt.tag_value, srt.tag_description
    </select>

    <select id="getAvgRatingByChamp" parameterType="String" resultType="reviewRatingByChampDto">
        select
            champ_id ,
            champ_name,
            count(*) as playCount,
            ROUND((AVG(skill_rating) + AVG(teamwork_rating) + AVG(manner_rating)) / 3,1) as totalAvgRating
        from
            lol_match_participant lm
                inner join site_summoner_review ssr on (lm.match_id = ssr.match_id and lm.puuid = ssr.target_puuid)
        where
            puuid = #{puuid}
        group by
            champ_id,
            champ_name
        order by
            count(*) desc
        limit 5
    </select>

    <select id="getAvgRatingByPosition" parameterType="String" resultType="reviewRatingByPositionDto">
        WITH positions AS (
            SELECT unnest(ARRAY['TOP', 'JUNGLE', 'MIDDLE', 'BOTTOM', 'UTILITY']) as position
        )
        SELECT
            p.position,
            COUNT(lm.puuid) as playCount,
            COALESCE(ROUND((AVG(skill_rating) + AVG(teamwork_rating) + AVG(manner_rating)) / 3, 1),0) as totalAvgRating
        FROM
            positions p
                LEFT JOIN lol_match_participant lm ON
                lm.position = p.position AND
                lm.puuid = #{puuid}
                LEFT JOIN site_summoner_review ssr ON
                lm.match_id = ssr.match_id AND
                lm.puuid = ssr.target_puuid
        GROUP BY
            p.position
        ORDER BY
            CASE p.position
                WHEN 'TOP' THEN 1
                WHEN 'JUNGLE' THEN 2
                WHEN 'MIDDLE' THEN 3
                WHEN 'BOTTOM' THEN 4
                WHEN 'UTILITY' THEN 5
            END
    </select>
</mapper>

