<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gg.updown.backend.main.api.review.mapper.ReviewMapper">
    <select id="getReviewTagList" parameterType="String">
        SELECT
            tag_code,
            tag_value,
            tag_description
        FROM
            site_review_tag
    </select>

    <!-- 리뷰 등록 -->
    <insert id="insertReview" parameterType="ReviewSubmitReqDto" useGeneratedKeys="true" keyProperty="summonerReviewSeq">
        INSERT INTO site_summoner_review (
            reviewer_site_code,
            reviewer_puuid,
            target_puuid,
            skill_rating,
            teamwork_rating,
            manner_rating,
            comment
        ) VALUES (
             #{reviewerSiteCode},
             #{reviewerPuuid},
             #{targetPuuid},
             #{skillRating},
             #{teamworkRating},
             #{mannerRating},
             #{comment}
         )
    </insert>

    <!-- 리뷰 태그 등록 -->
    <insert id="insertReviewTags" parameterType="java.util.Map">
        INSERT INTO site_summoner_review_tag (
        summoner_review_seq,
        tag_code
        ) VALUES
        <foreach collection="tagCodeList" item="tagCode" separator=",">
            (#{reviewSeq}, #{tagCode})
        </foreach>
    </insert>

    <select id="getWroteReviewTargetPuuidList" parameterType="String" resultType="String">
        SELECT
            target_puuid
        FROM
            site_summoner_review
        WHERE
            reviewer_puuid = #{reviewerPuuid}
            and del_dt IS NULL
    </select>
</mapper>

