<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gg.updown.backend.external.riot.api.lol.match.mapper.RiotMatchRawMapper">

    <insert id="insertRiotMatchRaw" parameterType="gg.updown.backend.external.riot.api.lol.match.model.RiotMatchRawEntity">
        INSERT INTO lol_match_raw (match_id, match_data, region, reg_dt)
        VALUES (#{matchId}, #{matchData}::jsonb, #{region}, NOW())
        ON CONFLICT (match_id) DO UPDATE SET
                                             match_data = #{matchData}::jsonb,
                                             region = #{region},
                                             reg_dt = NOW()
    </insert>
    
    <select id="findByMatchId" resultType="gg.updown.backend.external.riot.api.lol.match.model.RiotMatchRawEntity">
        SELECT 
            seq,
            match_id as matchId,
            match_data as matchData,
            region,
            reg_dt as savedAt
        FROM lol_match_raw
        WHERE match_id = #{matchId}
    </select>
    
</mapper>