<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gg.updown.backend.main.api.search.mapper.SiteSearchMapper">
	<select id="searchSummoners" parameterType="String" resultType="SiteSearchSummonerDto">
		SELECT
			s.profile_icon_id,
			ra.game_name,
			ra.tag_line,
			COUNT(CASE WHEN sr.is_up = true THEN 1 END) as up_count,
			COUNT(CASE WHEN sr.is_up = false THEN 1 END) as down_count,
			-- 문자열 유사도 계산
			REPLACE(LOWER(ra.game_name), ' ', '') <![CDATA[ <-> ]]> LOWER(#{keyword}) as similarity
		FROM
		    lol_summoner s
			JOIN riot_account ra ON s.puuid = ra.puuid
			LEFT JOIN site_summoner_review sr ON s.puuid = sr.target_puuid
		WHERE
		    REPLACE(LOWER(ra.game_name), ' ', '') LIKE LOWER(#{keyword}) || '%'
		GROUP BY
		    s.profile_icon_id, ra.tag_line, ra.game_name
		ORDER BY
			-- 공백 제거 후 정확히 일치하는 경우 최우선
			CASE WHEN REPLACE(LOWER(ra.game_name), ' ', '') = LOWER(#{keyword}) THEN 0
			-- 원본 문자열이 검색어와 정확히 일치하는 경우 다음 우선
			WHEN LOWER(ra.game_name) = LOWER(#{keyword}) THEN 1
			-- 공백 제거 후 시작 부분이 일치하는 경우
			WHEN REPLACE(LOWER(ra.game_name), ' ', '') LIKE LOWER(#{keyword}) || '%' THEN 2
			ELSE 3 END,
			-- 문자열 길이가 더 짧은 것을 우선
			LENGTH(REPLACE(ra.game_name, ' ', '')),
			similarity
		LIMIT 5;
	</select>
</mapper>