<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gg.updown.backend.external.riot.api.account.mapper.AccountApiMapper">
    <insert id="insertAccountInfo" parameterType="AccountInfoEntity">
        INSERT INTO riot_account (
            puuid
            , game_name
            , tag_line
        ) VALUES (
            #{puuid}
            , #{gameName}
            , #{tagLine}
        )
    </insert>
</mapper>