spring:
  devtools:
    livereload:
      enabled: false
    restart:
      enabled: false
  thymeleaf:
    cache: false
  application:
    name: Spring-Boot-MyBatis
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: ENC(VAz68ioTtC6JnKtbAtpIr1GOaUF3zourBWvCntal70qLZdAY7D+pdAPgJ+RjjG/PyJla1ciZ1Js6nCg5LWyGBA==)
    username: ENC(1eiVfgCpK4dwAA8T/iJTViruVkHKw+5U)
    password: ENC(1xXL/JyLoxe87uWTnkj2X54LQgRs8toK)

jasypt:
  encryptor:
    password: ${JASYPT_PASSWORD:0}

external:
  riot:
    api-key: ENC(iow85Vj9R1PaiAJ0hs80PH/MewUsTG16GkiuAWPfa0LGh03tofehaXRF3iWMm8wQkqgxQSAwemY=)

mybatis:
  type-aliases-package: gg.updown.backend
  mapper-locations: classpath:mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true
    jdbc-type-for-null: null

jwt:
  secret: ENC(rxgHJDVWHgIcfL35yWiFJkCK4v38A/WYD1HTG8mPdhNGymp+0gBK3F3DKwMZik51BF94fpuo5kJJ476Tvod8w0Yt1eGjetcl27JPgSwsSic=)

logging:
  level:
    jdbc:
      sqlonly: INFO      # SQL 쿼리문만 로그로 남기기
      sqltiming: OFF     # SQL 쿼리문과 실행 시간 로그
      audit: OFF         # ResultSet을 제외한 모든 JDBC 호출 정보
      resultset: OFF     # ResultSet을 포함한 모든 JDBC 호출 정보
      resultsettable: OFF  # SQL 결과 데이터 테이블
      connection: OFF    # 커넥션 연결/해제 정보

riot:
  ddragon:
    basepath: "https://ddragon.leagueoflegends.com"
