server:
  port: 443
  ssl:
    enabled: true
    key-store: classpath:keystore.p12
    key-password: ENC(WYq1x/zj6kA/K+CYr/xhtfGC8lGOsS5v)
    key-store-type: PKCS12
    key-alias: tomcat
    key-store-password: ENC(WYq1x/zj6kA/K+CYr/xhtfGC8lGOsS5v)

spring:
  devtools:
    livereload:
      enabled: false
    restart:
      enabled: false
  thymeleaf:
    cache: false
  application:
    name: Spring-Boot-MyBatis
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: ENC(VAz68ioTtC6JnKtbAtpIr1GOaUF3zourBWvCntal70qLZdAY7D+pdAPgJ+RjjG/PyJla1ciZ1Js6nCg5LWyGBA==)
    username: ENC(1eiVfgCpK4dwAA8T/iJTViruVkHKw+5U)
    password: ENC(1xXL/JyLoxe87uWTnkj2X54LQgRs8toK)
  security:
    oauth2:
      client:
        registration:
          riot:
            client-id: 068d3688-3749-457f-a8df-cddaf18eacaa
            client-secret: ENC(XD68/kh0Vc6QneVgXHGPM9+yNsJctO2DJS1kL+3D0ChEQDU0q8pGG1IQUZ0Kxd6+JpyR0XC1VQk=)
            redirect-uri: "https://dev.updowngg.lol/api/v1/auth/riot/callback"
            authorization-grant-type: authorization_code
            scope: openid
          discord:
            client-id: 1325814241160335462
            client-secret: ENC(0l1zDR5TtICNIBA/opRReD8QorxnGGJsnTyQfAythYXfIVE0H5Ofe5vrI2nERB2a)
            scope:
              - identify
              - email
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/discord"
        provider:
          riot:
            authorization-uri: https://auth.riotgames.com/authorize
            token-uri: https://auth.riotgames.com/token
            jwk-set-uri: https://auth.riotgames.com/.well-known/jwks.json
            user-info-uri: https://auth.riotgames.com/userinfo
            user-name-attribute: sub
          discord:
            authorization-uri: https://discord.com/api/oauth2/authorize
            token-uri: https://discord.com/api/oauth2/token
            user-info-uri: https://discord.com/api/users/@me
            user-name-attribute: id

jasypt:
  encryptor:
    password: ${JASYPT_PASSWORD:0}

external:
  riot:
    api-key: ENC(Cor0XcL5QsUq4uJtKaG5xV/96WV8N7w/T4bRu80zv/x/TQ8ICX7bHOtPlBfQxkeACIelBXH2Zfw=)

mybatis:
  type-aliases-package: gg.updown.backend
  mapper-locations: classpath:mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true
    jdbc-type-for-null: null

jwt:
  secret: ENC(rxgHJDVWHgIcfL35yWiFJkCK4v38A/WYD1HTG8mPdhNGymp+0gBK3F3DKwMZik51BF94fpuo5kJJ476Tvod8w0Yt1eGjetcl27JPgSwsSic=)
  refresh:
    valid-milliseconds: 604800000 # 7일
  access:
    valid-milliseconds: 900000 # 30분

logging:
  level:
    jdbc:
      sqlonly: OFF      # SQL 쿼리문만 로그로 남기기
      sqltiming: OFF     # SQL 쿼리문과 실행 시간 로그
      audit: OFF         # ResultSet을 제외한 모든 JDBC 호출 정보
      resultset: OFF     # ResultSet을 포함한 모든 JDBC 호출 정보
      resultsettable: OFF  # SQL 결과 데이터 테이블
      connection: OFF    # 커넥션 연결/해제 정보
    gg.updown.backend: debug

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    # 기본 모델 렌더링 depth
    # 태그 정렬
    tags-sorter: alpha
    # 작업 정렬
    operations-sorter: method
    # 필터 활성화
    filter: true
    # 요청 지속 시간 표시
    display-request-duration: true
    # Models 섹션 펼침 깊이
    default-models-expand-depth: 99
    default-model-expand-depth: 99
  api-docs:
    path: /v2/api-docs

frontend:
  url: https://dev.updowngg.lol:4173
